header{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: lightblue;
    color: black;
}
nav{
    width: auto;
    padding: 1rem 5%;
    background: white;
    display: flex;
    align-items: center;
    justify-content: flex-start;

}
.logo{
    letter-spacing: 0.06rem;
    margin-right: auto;
}

.logo h1{
    font-size: 2.5rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: oblique;
    font-weight: 600;
    color: rgb(45, 91, 176);
    margin-bottom: 0.1rem;
}

.logo h2{
    font-size: 0.9rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 100;
    color: rgb(40, 125, 186);
    margin-bottom: 0.6rem;
}

.nav-links{
    list-style: none;
    display: flex;
    gap: 2rem;
}

.nav-links li a{
    position: relative;
    text-decoration: none;
    font-size: 1.2 rem;
    font-weight: 500;
    color: rgb(75, 100, 150);
}

.nav-links li a:hover{
    color: rgb(36, 84, 167);
    text-shadow: 0 0 0.1rem rgb(36, 84, 167);

}

section{
    padding:2rem;
    margin: 2rem;
    background-color:white;
    width: 80%;
    border-radius:0.3rem;
}
.profile-pic{
    width:15rem;
    height: 15rem;
    border-radius:50%;
    display: block;
    margin: 1.5rem auto;
}
#about,
#skills,
#projects{
    background-color:white;
    margin:2rem auto;
    padding:2rem;
    border-radius:0.3rem;
    width:80%;
}
.skills-list{
    list-style-type: none;
    padding:0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
.projects-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.3rem;
    margin-top: 1.5rem;
}


.project-card{
    background: white;
    padding: 0.5rem;
    border-radius: 0.5rem;
    text-align: center;
    box-shadow: 0 0.1rem 0.3rem rgba(0,0,0,0.1);
}
.profile-website-pic,
.anime-convention-pic,
.FormFix-pic{
    display: block;
    margin: 0.5rem auto;
    text-align: center;
    width: 10rem;
    height: 10rem;   
}

.profile-website-pic:hover, .anime-convention-pic:hover, .FormFix-pic:hover{
    transform: scale(1.05);
    display:inline-block;
    background:none;
    color: rgb(36, 84, 167);

}
footer{
    background-color:lightblue;
    text-align:center;
    padding:1rem;
    width:100%;


}
.social-icon{
    width: 2.5rem;
    height: 2.5rem;
    transition: transform 0.2s ease;
    display:inline-block;
    background:none;
}

footer a{
    border: none ;
    text-decoration: none;
   background:none ;
   padding:0;
}

@media(max-width: 48rem){
    nav,
    .nav-links{
        flex-direction:column;
        align-items:center;
        gap: 1rem;

    }
    .projects-grid{
        grid-template-columns: 1fr;
    }
    section,
    #about,
    #skills,
    #projects{
        width: 95%;
    }

    .logo h1{
        font-size: 1.5rem;
    }
    .nav-links li a{
        font-size: 1rem;
    }
}